*.ilk
*.o
*.opensdf
*.pdb
*.sdf
*.suo
*.vcxproj.filters
*.vcxproj.user
.gdb_history
Debug/
Release/
build/
dist/
doc/
iProcessor
iProcessor.exe
nbproject/
test/
/00.ppm
/01.ppm
/02.ppm
/06.ppm
/04.ppm
/05.ppm
/03.ppm
/montage.png
/pipeline.out
/images/